@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*font-family: 'Lexend Deca', sans-serif;*/
/*font-family: 'Big Shoulders Display', cursive;*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	background: #EBF6F7;
	width: 100VW;
	height: 100VH;
	font-size: 15px;
}

.container {
	background-color: rgb(212, 212, 212);
	width: 100%;
	height: 100%;		
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub-cont{
	background-color: rgb(165, 36, 36);
	width: 260px;
	height: 450px;
	border-radius: 10px;
	padding: 30px;
	font-family: 'Big Shoulders Display', cursive;
	overflow: hidden;
}

.parag {
	color: hsla(0, 0%, 100%, 0.75);
	font-size: 25px;
	font-weight: 700;
	margin-top: 25px;
}
.parag01 {
	color: hsl(0, 0%, 95%);
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
	padding-top: 25px;
}

#sub-01 img {
	background-color: hsl(31, 77%, 52%);
}

#sub-01 {
	background-color: hsl(31, 77%, 52%);
	border-radius: 10px 0 0 10px;
}

#sub-02 img {
	background-color: hsl(184, 100%, 22%);
}

#sub-02 {
	background-color: hsl(184, 100%, 22%);
	border-radius: 0;
}

#sub-03 img {
	background-color: hsl(179, 100%, 13%)
}

#sub-03 {
	background-color: hsl(179, 100%, 13%);
	border-radius: 0 10px 10px 0;
}

.botao a {
	text-decoration: none;
}

#bt01, #bt02, #bt03 {
	padding: 12px 15px;
	width: 125px;
	margin-top: 80px;
	background-color: hsla(0, 0%, 100%, 0.75);	
	border: 2px solid hsla(0, 0%, 100%, 0.75);
	border-radius: 25px;
}

#bt01:hover {
	background-color: hsl(31, 77%, 52%);
}

#bt01 a {
	width: 100%;
	color: hsl(31, 77%, 52%);
	padding: 12px 15px;
	width: 125px;
}

#bt01 a:hover {
	color: hsla(0, 0%, 100%, 0.75);
	padding: 12px 15px;
	width: 125px;
}

#bt02:hover {
	background-color: hsl(184, 100%, 22%);
}

#bt02 a {
	color: hsl(184, 100%, 22%);
	padding: 12px 11px;
	width: 125px;
}



#bt02 a:hover {
	color: hsla(0, 0%, 100%, 0.75);
	padding: 12px 11px;
	width: 125px;
}

#bt03:hover {
	background-color: hsl(179, 100%, 13%);
}

#bt03 a {
	color: hsl(184, 100%, 22%);
	padding: 12px 11px;
	width: 125px;
}



#bt03 a:hover {
	color: hsla(0, 0%, 100%, 0.75);
	padding: 12px 11px;
	width: 125px;
}





.attribution {
	font-size: 11px; 
	text-align: center;
}

.attribution a {
	 color: hsl(228, 45%, 44%); 
}



/*.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }*/
