@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/*font-family: 'Lexend Deca', sans-serif;*/
/*font-family: 'Big Shoulders Display', cursive;*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #EBF6F7;
	width: 100VW;
	height: 100VH;
	font-size: 15px;
}

.container {
	background-color: rgb(212, 212, 212);
	width: 100%;
	height: 100%;		
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub-cont{
	background-color: rgb(165, 36, 36);
	width: 260px;
	height: 450px;
	border-radius: 10px;
	padding: 30px;
	font-family: 'Big Shoulders Display', cursive;
	overflow: hidden;
}

.parag {
	color: hsla(0, 0%, 100%, 0.75);
	font-size: 25px;
	font-weight: 700;
	margin-top: 25px;
}
.parag01 {
	color: hsl(0, 0%, 95%);
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
	padding-top: 25px;
}

#sub-01 img {
	background-color: hsl(31, 77%, 52%);
}

#sub-01 {
	background-color: hsl(31, 77%, 52%);
	border-radius: 10px 0 0 10px;
}

#sub-02 img {
	background-color: hsl(184, 100%, 22%);
}

#sub-02 {
	background-color: hsl(184, 100%, 22%);
	border-radius: 0;
}

#sub-03 img {
	background-color: hsl(179, 100%, 13%)
}

#sub-03 {
	background-color: hsl(179, 100%, 13%);
	border-radius: 0 10px 10px 0;
}
.botao .parag01 {
	cursor: pointer;
	text-align: center;
	border-radius: 25px;
	padding: 10px;
	margin: 60px 60px 0 0;
}

.botao #bt01 {
	background-color: rgb(212, 212, 212);
	color: hsl(31, 77%, 52%);
	outline: 2px solid hsl(0, 0%, 95%);
 	outline-offset: -2px;
}

.botao #bt01:hover {
	color: rgb(212, 212, 212);
	background-color: hsl(31, 77%, 52%);
	outline: 2px solid rgb(212, 212, 212);
 	outline-offset: -2px;
}

.botao #bt02 {
	background-color: rgb(212, 212, 212);
	color: hsl(184, 100%, 22%);
	outline: 2px solid hsl(0, 0%, 95%);
 	outline-offset: -2px;
}

.botao #bt02:hover {
	color: rgb(212, 212, 212);
	background-color: hsl(184, 100%, 22%);
	outline: 2px solid rgb(212, 212, 212);
 	outline-offset: -2px;
}

.botao #bt03 {
	background-color: rgb(212, 212, 212);
	color: hsl(179, 100%, 13%);
	outline: 2px solid hsl(0, 0%, 95%);
 	outline-offset: -2px;
}

.botao #bt03:hover {
	color: rgb(212, 212, 212);
	background-color: hsl(179, 100%, 13%);
	outline: 2px solid rgb(212, 212, 212);
 	outline-offset: -2px;
}

@media only screen and (max-width: 900px) {
	body {
	  height: auto;
	  margin: 50px 0;
	}
	.container {
	  display: grid;
	  grid-template-columns: 280px;
	  grid-template-rows: 450px 450px 450px;
	}

	#sub-01 {
		border-radius: 10px 10px 0 0;
	}

	#sub-03 {
		border-radius: 0 0 10px 10px;
	}